__pycache__/
*.py[cod]
*.egg-info/
.venv/
/build/
/.flatpak-builder/
# artefatos gerados por dpkg-buildpackage
/debian/.debhelper/
/debian/ocr-tela/
/debian/files
/debian/debhelper-build-stamp
/debian/*.substvars
/debian/*.debhelper
/debian/*.debhelper.log
